// 引入默认全局样式
@import '@alifd/next/reset.scss';

body {
  -webkit-font-smoothing: antialiased;
}
$primary: #21b8c6;

/***************** 框架覆盖css start **********************/
.next-shell-brand .next-shell-header {
  height: 52px;
}
.next-shell-brand .next-shell-aside.next-shell-navigation{
  padding: 0;
}
.next-menu-item-inner a,
.next-nav.next-primary .next-menu-sub-menu .next-menu-item a{
  color: #Fff;
  font-size: 14px;
}
.next-nav.next-ver .next-menu-item, .next-nav.next-ver .next-menu-sub-menu-wrapper > .next-menu-item{
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  box-sizing: border-box;
}
.next-nav.next-primary .next-nav-item.next-menu-item.next-child-selected {
  color: #ffffff;
  background: #2c3b41;
  border-left: 3px solid #21b8c6;
  border-right: 3px solid transparent;
}
.next-menu-item-inner i {
  margin-right: 6px;
}
.next-nav.next-primary .next-nav-item.next-menu-item:before {
  background-color: #2c3b41;
}
.next-nav.next-primary .next-menu-sub-menu .next-menu-item.next-selected {
  background-color: #373f47;
  a{
    color: #21b8c6;
  }
}
.next-input, 
.next-pagination .next-pagination-item:not([disabled]){
  border: 1px solid #ddd;
}
.next-nav.next-ver .next-menu-item{
  padding: 0 10px;
}
.next-shell-brand .next-shell-aside.next-shell-navigation.next-shell-collapse.next-shell-mini,
.next-shell-brand .next-shell-aside.next-shell-navigation.next-shell-collapse.next-shell-mini ul {
  width: 50px!important;
}
.next-shell-brand .next-shell-main {
  background: #f0f3f6;
}
.next-menu.next-icon-only .next-menu-item-text span {
  display: none;
}
.next-menu.next-icon-only .next-menu-item-text i{
  display: block;
  text-align: center;
  margin-right: 0;
}

/***************** 框架覆盖css end **********************/

/***************** 以下是业务模块通用css start **********************/
.nodata{
  text-align: center;
  padding: 32px;
  color: #21a6b1;
  i{
    font-size: 40px;
  }
  span{
    font-size: 16px;
    padding: 8px 0;
  }
}
.Search{
  background-color: #fff;
  box-shadow: 0 18px 46px rgba(22, 45, 61, 0.06);
  padding: 16px;
  margin: 16px 0;
  h4{
    margin: 10px;
    span{
      margin-left: 16px;
      font-size: 14px;
      color: #21B8C6;
    }
  }
  ul {
    margin-left: 26px;
    li {
      margin: 9px 0;
      color: #888;
      line-height: 22px;
      display: flex;
      flex-wrap: wrap;
      .lispan{
        flex: 1;
      }
      b{
        color: #333;
      }
      i{
        font-size: 14px;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
        border: 2px solid #fff;
        border-radius: 100%;
        padding: 0 4px;
        
      }
    }
  }
}

.Title_h5{
  margin-top: 0;
  position: relative;
  padding-left: 8px;
  &:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 3px;
    background: #21b8c6;
    position: absolute;
    left: 0;
    top: calc(50% - 16px / 2);
  }
}
.List {
  background-color: #fff;
  box-shadow: 0 18px 46px rgba(22, 45, 61, 0.06);
  padding: 16px;
  margin: 16px 0;
  position: relative;
  .Pagination{
    text-align: center;
    margin-top: 16px;
  }
  .add {
    padding-bottom: 15px;
    button {
      margin-right: 10px;
    }
  }

  .Table {
    .opt {
      button {
        margin-right: 5px;
      }
    }
  }

  .total {
    color: #4a5b6d;
    font-size: 12px;
    span {
      padding: 0 3px;
      color: #5584ff;
    }
  }
}
.next-collapse {
  border: none!important;
}
/***************** 以下是业务模块通用css end **********************/